@media screen and (max-width: 479px) {
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }
  :root {
    --color-panel: #333;
    --prymery: #666;
    --secundary: #999;
  }
  p {
    color: var(--secundary);
  }
  h2,
  h3 {
    color: var(--prymery);
  }
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
  }
  .logo h2 {
    margin-left: 10px;
    font-size: 22pt;
  }

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
    background-color: var(--prymery);
    width: 100%;
    padding: 10px;
  }
  header h2 {
    color: rgb(236, 238, 111);
  }
  header nav {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  header nav a {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    color: #fff;
  }
  header nav a:hover {
    background-color: tomato;
  }
  main {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .article-img,
  .about-us {
    display: none;
  }

  .category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin-bottom: 40px;
    width: 100%;
  }
  .category h2 {
    margin-bottom: 10px;
    border-bottom: 2px solid var(--prymery);
    padding: 10px;
  }
  .category ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
  }
  .category ul li {
    width: 256px;
    margin-bottom: 15px;
    border-bottom: 1px solid var(--prymery);
  }
  main section {
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--prymery);
  }
  main section img {
    margin: 10px;
    border: 1px solid var(--secundary);
    padding: 10px;
  }
  main section button {
    background-color: var(--color-panel);
    color: #fff;
    border: none;
    margin-top: 10px;
    padding: 3px;
    width: 100px;
  }
  .finalArticle {
    background-color: var(--color-panel);
  }
  .finalArticle article h2,
  .finalArticle article p {
    color: #f5f5f5d8;
  }
  .finalArticle article h2 {
    margin-bottom: 10px;
    border-bottom: 2px solid #f5f5f5d8;
    padding-bottom: 10px;
  }
  .finalArticle article {
    padding: 15px 10px;
  }
  .final {
    background-color: black;
    color: #f5f5f5d8;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .final span {
    margin-bottom: 10px;
  }
 }